* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
}

/* header */

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content {
  padding: 10px;
  gap: 50px;
}

.logo {
  background-color: #F0EDFF;
  color: #5B47D1;
  padding: 5px;
}

.nav {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.a-main,
.a-blog,
.a-categories,
.a-about,
.a-contact {
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: 500;
}

/* main */

/* section hero */

.hero {
  background-image: url("../assets/images/e11fe0289d1ad6e93656e54c43b99f9275d82560.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 400px;
}

.hero-title {
  font-size: 48px;
  font-weight: 700;
  color: #ffffff;
}

.hero-p {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
}

/* section last-news */

.last-news {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f5f5f7;
  padding-bottom: 150px;
}
.last-news-title {
  font-size: 36px;
  font-weight: 700;
}

/* card - row */

.cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 50px;
}

.cards-row {
  display: flex;
  gap: 50px;
}


.card {
  width: 360px;
  background-color: #ffffff;
}

.card-img{
    width: 100%;
    height: 210px;
}

.card-content {
  padding: 10px 20px 20px;
}

.card-spans {
  display: flex;
  gap: 80px;
  font-size: 13px;
  margin-bottom: 10px;
}
.card-text-p {
  font-size: 15px;
}

/* footer */

.footer {
  background-color: #252424;
  color: #e6e6f0;
  padding: 60px 0px 0px;
}

.footer a {
  color: #a1a1a6;
  text-decoration: none;
  transition: color 0.3s ease;
}

.columns {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;

  gap: 60px;
}

.column-1,
.column-2 {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.techblog h2 {
  font-size: 28px;
  font-weight: 700;
  color: #ffffff;
}

.techblog-p {
  font-size: 15px;
  line-height: 1.7;
  color: #a1a1a6;
  max-width: 420px;
}

.contact ul {
  list-style: none;
  padding: 0;
}

.contact li {
  font-size: 14px;
  margin-bottom: 10px;
  color: #a1a1a6;
}

.categories-title {
  font-size: 20px;
  margin-bottom: 15px;
  color: #ffffff;
}

.footer-categories ul {
  list-style: none;
  padding: 0;
}

.footer-categories li {
  font-size: 14px;
  padding: 8px 0;
  color: #a1a1a6;
}

.copyright {
  margin-top: 50px;
  padding: 20px 10px;

  text-align: center;
  background-color: #020202;
}

.copyright p {
  font-size: 13px;
  color: #86868b;
  font-weight: 600;
}
